@import "tailwindcss";

:root {
  --background: white;
  --foreground: black;

  --light: white;
  --dark: black;
}

.dark {
  --background: black;
  --foreground: white;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  
  --color-light: var(--light);
  --color-dark: var(--dark);

  --breakpoint-3xl: 1664px;
}

body {
  background: var(--background);
  color: var(--foreground);
}

input::placeholder, textarea::placeholder {
  color: var(--dark);
  opacity: 1;
}

textarea {
  field-sizing: content
}

.cursor {
  cursor: url('/cursor.png') 0 3, auto;
}

.cursor-pointer {
  cursor: url('/cursor_pointer.png') 0 3, pointer;
}

.cursor-text {
  cursor: url('/cursor_text.png') 0 3, text;
}

.scrollbar::-webkit-scrollbar {
  width: 16px;
}

.scrollbar::-webkit-scrollbar-track {
  background: var(--background);
}

.scrollbar::-webkit-scrollbar-thumb {
  background: var(--foreground);
  border: 2px solid var(--background);
}

@supports not selector(::-webkit-scrollbar) {
  .scrollbar {
    scrollbar-color: var(--foreground) var(--background);
  }
}

.pixelated {
  image-rendering: pixelated;
  image-rendering: crisp-edges;
}

@keyframes marquee-keyframes {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(100%);
  }
}

.marquee {
  animation: marquee-keyframes 10s linear infinite;
}
